header {
    background-image: url(../panda-sanctuary/assets/header-image.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
}

h1 {
    font-family: "Offside";
    font-size: 20px;
}

span {
    display: block;
}
.banner, .headerFlex {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.menu ul{
    display: flex;
    
   
}
.menu li{
    padding-left: 20px;
}
h2 {
    font-family: "Barlow";
    font-size: 68.8px;
    line-height: 63.7px;
    letter-spacing: 0.8px;
    
}

.menuSocial li {
    padding-bottom: 20px;
}

